@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0B0E14] text-slate-100 font-sans antialiased overflow-hidden select-none;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0E131F;
}
::-webkit-scrollbar-thumb {
  background: #1E2638;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E10600;
}
